{
    "parser": "babel-eslint",
    "extends": [
        "prettier",
        "shortlyster"
    ],
    "plugins": [
        "prettier",
        "react"
    ],
    "settings": {
        "react": {
            "pragma": "h"
        }
    },
    "rules": {
        "react/jsx-filename-extension": "off",
        "prettier/prettier": ["error", {
          "singleQuote": true,
        }],
        "arrow-parens": "off"
    },
    "globals": {
        "document": "true"
    }
}